@font-face {
    font-family: baloo;
    src: url(../fonts/Baloo-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: baloo;
}

nav{
    background: #FE6F6D;
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    position: fixed;
}

#menuIcon{
    display: none;
}

nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 143px auto;
    justify-items: end;
}

nav ul li{
    list-style: none;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    padding: 6px 25px;
    border-radius: 25px;
}
nav a {
    text-decoration: none;
}
nav ul div li{
    display: inline-block;
}

nav li:hover{
    background: #EE2C29;
}

.spaceForNav{
    width: 100%;
    height: 80px;
}

main, #about, #skills, #education {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: url(../img/wave.png) no-repeat;
    background-position: 0px 0px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mainContent, .aboutContent, .skillsContent, .educationContent{
    max-width: 1280px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    align-items: center;
    justify-items: center;

}

main img, #about img, #education img{
    width: 450px;
}

main p{
    font-size: 55px;
}

main p span{
    background: #EE2C29;
    padding: 0 20px;
    border-radius: 25px;
}

#about, #education{
    background: #FE6F6D;
    /* all the other part are in line no 64 in main */
}

/* #about img in in line no 88 with main img */

/* .aboutContent is in line no 78 with .mainContent */


.aboutContent div, .skillsContent div, .educationContent div{
    width: 450px;
    text-align: right;
    color: #ffffff;
}

.aboutContent h2, .skillsContent h2, .educationContent h2{
    font-size: 55px;
    font-weight: 500;
    margin: 0;
}

.aboutContent p, .skillsContent p, .educationContent p{
    font-size: 27px;
    font-weight: 500;
    margin: 0;
}

.skillsContent div{
    text-align: left;
    color: #000;
}

#skills{
    background: none;
    /* all the other part are in line no 64 in main */
}

/* .skillsContent is in line no 78 with .mainContent */

#skillsIcon{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 40px 0;
    align-items: center;
    justify-items: center;
}

#skillsIcon img{
    width: 125px;
}

/* #education is in line no 64 with main */
/* .educationContent is in line no 78 with .mainContent */
/* #education img is in line no 88 with main img */
/* #education is in line on 102 with #about */
/* .educationContent div is in line no 112 with .aboutContent div */
/* .educationContent h2 is in line no 118 with .aboutContent h2 */
/* .educationContent p is in line no 124 with .aboutContent p */

@media screen and (max-width: 979px) {
    
    nav{
        display: block;
        background: none;
        height: 0;
    }
    nav ul{
        display: block;
    }
    
    nav ul li{
        font-size: 40px;
        padding: 5px 30px;
        margin: 10px 0;
        border-radius: 30px;
    }        
    #hm{
        position: fixed;
        background: #fe6f6dc9;
        backdrop-filter: saturate(180%) blur(10px);
        border-radius: 0 0 60% 0;
    }
    
    #hm li:hover{
        background: none;
    }
    
    #mobileNav{
        height: 100%;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    main p{
        text-align: center;
        
    }
    #menuIcon{
        display: inline-block;
        position: fixed;
        top: 0;
        right: 0;
        padding: 25px 40px;
        background: #fe6f6dc9;
        backdrop-filter: saturate(180%) blur(10px);
        border-radius: 0 0 0 80% ;
        
    }
    #menuIcon img{
        height: 40px;
    }
    
    .toggleClass{
        min-height: 100vh;
        background: #fe6f6d5d;
        backdrop-filter: saturate(180%) blur(10px);
        width: 100%;
        height: 100%;
        animation: menuBarAnimation 0.7s ease forwards;
    }

    @keyframes menuBarAnimation {
        0%{
            margin-left: 100%;
        }

        100%{
            margin-left: 0;
        }
    }
    
    main{
        background-size: cover;
        background-position: center top;
    }
    .aboutContent div:first-child, .skillsContent div, .educationContent div:first-child{
        margin-bottom: 50px;
        text-align: center;
    }
    .aboutContent div:nth-of-type(2), .educationContent div:nth-of-type(2){
        order: 1;
    }
    .aboutContent div:nth-of-type(1), .educationContent div:nth-of-type(1){
        order: 2;
    }

    /* .skillsContent div is in line no 224 with .aboutContent div:first-child */
    /* .educationContent div:first-child is in line no 232 with .aboutContent div:first-child */
    /* .educationContent div:nth-of-type(2) is in line no 236 with .aboutContent:div:nth-of-type(2) */
    /* .educationContent div:nth-of-type(1) is in line no 239 with .aboutContent:div:nth-of-type(1) */
    
}

@media screen and (max-width: 600px) {
    nav ul li{
        font-size: 20px;
        padding: 0px 20px;
        margin: 10px 0;
        border-radius: 10px;
    }

    #menuIcon{
        padding: 15px 20px;
    }
    
    #menuIcon img{
        height: 25px;
    }
    .spaceForNav{
        width: 100%;
        height: 80px;
    }

    .mainContent, .aboutContent, .skillsContent, .educationContent{
        grid-template-columns: 100%;
    
    }
    
    main img, #about img, #education img{
        width: 250px;
    }
    
    main p{
        font-size: 25px;
    }
    
    main p span{
        background: #EE2C29;
        padding: 0 5px;
        border-radius: 8px;
    }

    /* .aboutContent is in line 259 with .mainContent */

    /* #about img is in line on 264 with main img */

    .aboutContent div, .skillsContent div, .educationContent div{
        width: 250px;
    }
    
    .aboutContent div:first-child, .educationContent div:first-child{        
        margin-bottom: 50px;
    }

    .aboutContent h2, .skillsContent h2, .educationContent h2{
        font-size: 35px;
        font-weight: 500;
        margin: 0;
    }
    
    .aboutContent p, .skillsContent p, .educationContent p{
        font-size: 18px;
        font-weight: 500;
        margin: 0;
    }

    /* .skillsContent is in line on 259 with .mainContent */
    /* .skillsContent div is in line on 282 with .aboutContent */
    /* .skillsContent h2 is in line no 290 with .aboutContent h2 */
    /* .skillsContent p is in line no 296 with .aboutContent p */

    #skillsIcon{
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 30px 0;
    }

    #skillsIcon img{
        width: 66px;
    }

    /* .educationContent is in line no 270 with .mainContent */
    /* #education img is in line no 275 with main img */
    /* .educationContent div is in line no 293 with .aboutContent div */
    /* .educationContent div:first-child is in line no 297 with .aboutContent div:first-child */
    /* .educationContent h2 is in line no 301 with .aboutContent h2 */
    /* .educationContent p is in line no 307 with .aboutContent p */
    
}
