@font-face {
    font-family: baloo;
    src: url(../fonts/Baloo-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: baloo;
}

nav{
    background: #FE6F6D;
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    position: fixed;
}

#menuIcon{
    display: none;
}

nav ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 143px auto;
    justify-items: end;
}

nav ul li{
    list-style: none;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
    text-transform: capitalize;
    padding: 6px 25px;
    border-radius: 25px;
}
nav a {
    text-decoration: none;
}
nav ul div li{
    display: inline-block;
}

nav li:hover{
    background: #EE2C29;
}

.spaceForNav{
    width: 100%;
    height: 80px;
}

main {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: url(../img/wave.png) no-repeat;
    background-position: 0px 0px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mainContent, .aboutContent{
    max-width: 1280px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(490px, 1fr));
    align-items: center;
    justify-items: center;

}

main img, #about img{
    width: 450px;
}

main p{
    font-size: 55px;
}

main p span{
    background: #EE2C29;
    padding: 0 20px;
    border-radius: 25px;
}

#about{
    background: #FE6F6D;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutContent div{
    width: 450px;
    text-align: right;
    color: #ffffff;
}

.aboutContent h2{
    font-size: 55px;
    font-weight: 500;
    margin: 0;
}

.aboutContent p{
    font-size: 27px;
    font-weight: 500;
    margin: 0;
}

@media screen and (max-width: 979px) {
    main p, .aboutContent div{
        text-align: center;
    }

    .aboutContent div:nth-of-type(2){
        order: 1;
    }
    .aboutContent div:nth-of-type(1){
        order: 2;
    }

    nav{
        display: block;
        background: none;
        height: 0;
    }
    nav ul{
        display: block;
    }

    nav ul li{
        font-size: 40px;
        padding: 5px 30px;
        margin: 10px 0;
        border-radius: 30px;
    }        
    #hm{
        position: fixed;
        background: #fe6f6dc9;
        backdrop-filter: saturate(180%) blur(10px);
        border-radius: 0 0 60% 0;
    }

    #hm li:hover{
        background: none;
    }

    #mobileNav{
        height: 100%;
        width: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #menuIcon{
        display: inline-block;
        position: fixed;
        top: 0;
        right: 0;
        padding: 25px 40px;
        background: #fe6f6dc9;
        backdrop-filter: saturate(180%) blur(10px);
        border-radius: 0 0 0 80% ;
        
    }
    #menuIcon img{
        height: 40px;
    }
    
    .toggleClass{
        min-height: 100vh;
        background: #fe6f6d5d;
        backdrop-filter: saturate(180%) blur(10px);
        width: 100%;
        height: 100%;
    
    }

    main{
        background-size: cover;
        background-position: center top;
    }

}

@media screen and (max-width: 600px) {
    nav ul li{
        font-size: 20px;
        padding: 0px 20px;
        margin: 10px 0;
        border-radius: 10px;
    }

    #menuIcon{
        padding: 15px 20px;
    }
    
    #menuIcon img{
        height: 25px;
    }
    .spaceForNav{
        width: 100%;
        height: 80px;
    }

    .mainContent, .aboutContent{
        grid-template-columns: 100%;
    
    }
    
    main img, #about img{
        width: 250px;
    }
    
    main p{
        font-size: 25px;
    }
    
    main p span{
        background: #EE2C29;
        padding: 0 20px;
        border-radius: 25px;
    }
    .aboutContent div{
        width: 250px;
        margin-bottom: 50px;
    }
    
    .aboutContent h2{
        font-size: 35px;
        font-weight: 500;
        margin: 0;
    }
    
    .aboutContent p{
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }
    
}
